@tailwind base;
@tailwind components;
@tailwind utilities;

import "@fontsource/spline-sans"

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-page {
  background: url('../public/gradient-bg.png');
  background-color: #f2f2f2;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-header {
  color: white;
  font-size: 30px;
}

.section-bg {
  background: url('../public/light-gradient-bg.png');
  background-color: #f2f2f2;
  background-size: cover;
  background-repeat: no-repeat;
}

.why-1 {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 30px;
  background: linear-gradient(140.07deg, rgba(206, 108, 138, 0.9) -7.28%, rgba(233, 137, 212, 0.9) 108.75%);
  border: 2px solid #FFFFFF;
  /* Soft */
  
  box-shadow: 0px 0px 20px rgba(183, 145, 136, 0.25);
  border-radius: 50px;
}

.why-2 {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 30px;
  background: linear-gradient(140.07deg, rgba(231, 138, 199, 0.9) -7.28%, rgba(172, 185, 255, 0.9) 108.75%);
  border: 2px solid #FFFFFF;
  /* Soft */
  
  box-shadow: 0px 0px 20px rgba(183, 145, 136, 0.25);
  border-radius: 50px;
}

.why-3 {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 30px;
  background: linear-gradient(140.07deg, rgba(194, 172, 255, 0.9) 3.6%, rgba(155, 116, 182, 0.9) 108.75%);
  border: 2px solid #FFFFFF;
  /* Soft */
  
  box-shadow: 0px 0px 20px rgba(183, 145, 136, 0.25);
  border-radius: 50px;
}

.why-header {
  color: white;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.why-text {
  color: white;
  font-size: 20px;
}

.artist-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  color: white;
  white-space: nowrap;
}

.artist-name {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

.artist-about {
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

.artist-headshot-carlota {
  box-sizing: border-box;
  width: 292px;
  height: 292px;

  background: url('../public/Carlota.jpeg');
  background-size: cover;
  border: 1px solid #000000;
  border-radius: 20px;
}

.artist-headshot-sarah {
  box-sizing: border-box;

  width: 292px;
  height: 292px;

  background: url('../public/Sarah.webp');
  background-size: cover;
  border: 1px solid #000000;
  border-radius: 20px;
}

@font-face {
  font-family: "Chopper";
  src: url("../public/fonts/Chopper-Regular.otf");
}

@font-face {
  font-family: "AuthenticSans";
  src: url("../public/fonts/AUTHENTICSans-90.otf");
}

@font-face {
  font-family: "Spline Sans";
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
